langchain
python-dotenv
langchain_community
pypdf
bs4
arxiv 
pymupdf
wikipedia
langchain_text_splitters
langchain-openai
chromadb
langchain_huggingface 
sentence_transformers
faiss-cpu
langchain_chroma
langchain_ollama
langchain-core
langchain-classic
streamlit
langchain_groq
fastapi
uvicorn
langserve
langchain-google-genai
google-generativeai
langchainhub
SQLAlchemy
validators
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
langchain_astradb
gradio
boto3
awscli
openai
langchain-nvidia-ai-endpoints
crewai
crewai_tools
neo4j
langchain-neo4j
langgraph


